
body {
   box-sizing: border-box;

}

*, *:before, *:after {
   box-sizing: inherit;
}


.main-wrap {
   background: radial-gradient(rgb(123, 126, 129), rgb(47, 62, 77));
   background: -webkit-radial-gradient(rgb(123, 126, 129), rgb(47, 62, 77));
   height: 100vh;
   width: 100vw;
}

.content {
   text-align: center;
   width: 50%;
   margin: 0 auto;
   color: white;
   padding-top: 25%;
}

.content ul {
   list-style: none;
/*below helps remove the list indentation*/
   -webkit-padding-start: 0;
}
